html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #bbb;
  flex-direction: column;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

main {
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 1140px;
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 20px 20px;
  background-position: center center;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #bbb;
}

.goods-list {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.goods-item {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 20px;
  background: #fff;
  border: 1px solid #000;
}

h3, p, .test, .add-btn {
  margin: 10px auto;
  color: #414141;
}

.test {
  width: 120px;
  height: 120px;
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 7px 7px;
  background-position: center center;
  border: 1px solid #414141;
}

.test:hover {
  background: linear-gradient( #80D8FF, transparent 2px), linear-gradient( 90deg, #80D8FF, transparent 2px);
  background-size: 7px 7px;
  background-position: center center;
}

.add-btn, .cart-button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  margin: 5px 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #414141;
  border-radius: 15px;
  color: #414141;
  transition: .2s ease-in-out;
}
.add-btn:before, .cart-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.add-btn:hover, .cart-button:hover {
  background: #80D8FF;
  color: #fff;
}
.add-btn:hover:before, .cart-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}
